.App {
  text-align: left;
}


.Button {
  width: 400px;
  margin: 10px;
  margin-left: 250px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

#variantTable{
  padding-left:50px;
  padding-top:20px;
  height:400px;
  width:400px;
}


