.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 0px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
