
.CNVTable {
	margin-left: 50px;
}

ul {
  display: flex;
}

li {
    margin-right: 40px;
}

.CNVTable table {
	border-collapse: collapse;
}

.CNVTable tbody {
  margin: 20px;
  height: 100px;
  overflow: auto;
}

.CNVTable th {
  background: #8a8989;
  color: white;
  padding: 5px;
  border: 1px solid #ccc; 
  text-align: center; 
}

.CNVTable td { 
  padding: 5px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

.CNVTable tr:nth-child(even) { 
  background: #ecefef;
}

.CNVTable tr:hover {
  background-color: #ddd;
}
