
.CNVTable {
  margin: 10px;
	/*margin-left: 50px;*/
  /*padding-top: 10px;*/
}


.CNVTable table {
	border-collapse: collapse;
  width: 800px;
  margin-top: 10px;
}

.CNVTable thead {
  display: block;
}

.CNVTable tbody {
  display: block;
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}


.CNVTable th {
  width: 113px;
  background: #8a8989;
  color: white;
  padding: 5px;
  border: 1px solid #ccc; 
  text-align: center; 
}

.CNVTable td { 
  width: 113px;
  height: 10px;
  padding-left: 5px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

.CNVTable thead th:last-child {
    width: 122px; /* 113px + 9px scrollbar width */
}

.CNVTable tr:nth-child(even) { 
  background: #ecefef;
}

.CNVTable tr:hover {
  background-color: #ddd;
}
