#higlass{
  height: 300px;
  width: 800px;
  padding-left:50px;
  padding-top:20px;
  border:5px;
}
/*
#higlass-viewer {
  position: top;
  top: 0.25rem;
  right: 0.25rem;
  bottom: 0.25rem;
  left: 0.25rem;
}
*/