#higlass{
  height: 300px;
  width: 710px;
  padding-top:20px;
  padding-bottom:20px;
  margin-left: 50px;
  border:10px;
}
/*
#higlass-viewer {
  position: top;
  top: 0.25rem;
  right: 0.25rem;
  bottom: 0.25rem;
  left: 0.25rem;
}
*/